<h1>Welcome to the World To The Teacher Cpanel</h1>


<h1>Course List</h1>
  {% if course %}
  <ul>
    {% for courses in course %}
      <li>
        <a href="{{ courses.get_absolute_url }}">{{ courses.name }}</a> ({{courses.code}})
        <a href="{% url 'teachers:details_course' courses.id %}" class="btn btn-primary mb-3" role="button">Add Examination Instruction</a> |
        <a href="{% url 'teachers:add_question' courses.id %}" class="btn btn-primary mb-3" role="button">Add Examination Question</a> |
        <a href="{{ courses.get_absolute_url }}" class="btn btn-primary mb-3" role="button">Details</a> |
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are Course For Your Now.</p>
  {% endif %}    




 {% if user.is_authenticated %}
                <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
{% endif %}