<h1>Welcome to the World To The Student Cpanel</h1>






<a href="{% url 'students:student_interests' %}" class="btn btn-primary mb-3" role="button">Apply For Course</a> |


<a href="{% url 'students:course_list' %}" class="btn btn-primary mb-3" role="button">Exam That is On</a> |







 {% if user.is_authenticated %}
                <p class="pt-3">Logged in as <strong>{{ user.username }}</strong>. <a href="{% url 'logout' %}">Log out</a>.</p>
              {% else %}
                <a href="{% url 'login' %}" class="btn btn-light" role="button">Log in</a>
                <a href="{% url 'signup' %}" class="btn btn-primary" role="button">Sign up</a>
{% endif %}